<section class="container d-flex justify-content-center align-items-center w-100 h-100">
    <div class="wrapper py-3 h-75 d-flex flex-column align-items-center justify-content-around">
        <h3 class="logo">PharmaChain</h3>
        <h5>Register</h5>
        <form class="fields w-75 d-flex flex-column gap-3" [formGroup]="registerForm" (submit)="onSubmit()">
            <input type="email" placeholder="Enter Email" class="p-2" formControlName="email">
            <select class="form-select" name="role" formControlName="role">
                <option value="manufacturer">Manufacturer</option>
                <option value="distributor">Distributor</option>
                <option value="retailer">Retailer</option>
                <option value="regulatoryAuthority">Regulatory Authority</option>
            </select>
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password" class="p-2"
                formControlName="password">
            <div class="d-flex justify-content-between
            ">
                <div class="show-password d-flex align-items-center gap-2">
                    <input type="checkbox" #showPasswordCheckbox (change)="showPassword = showPasswordCheckbox.checked">
                    <small>Show Password</small>
                </div>
                <a routerLink="/auth/login"><small>Already registered?</small></a>
            </div>
            <div class="align-self-end">
                <button type="submit" class="p-2">Register</button>
            </div>
        </form>
    </div>
</section>