<section class="container d-flex justify-content-center align-items-center w-100 h-100">
    <div class="wrapper py-4 d-flex flex-column align-items-center justify-content-around">
        <h3 class="logo">PharmaChain</h3>
        <h5>Recall Product</h5>
        <form class="fields w-75 p-1 d-flex flex-column gap-3" [formGroup]="recallForm">
            <p class="align-self-center">Product ID:&nbsp;<span>{{productId}}</span></p>
            <input type="text" placeholder="Enter Reason" formControlName="reason" class="p-2">
            <div class="align-self-end w-50">
                <button type="submit" class="p-2" (click)="onSubmit()">Recall</button>
            </div>
        </form>
    </div>
</section>