.wrapper {
    width: 35%;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    font-family: Madimi One, sans-serif;
}

.fields input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
}

.fields input:focus-within {
    border-bottom: 2px solid black;
}

.fields select {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: gray;
}

.fields select:focus-within {
    color: #000;
}

.fields div:last-child {
    width: 30%;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    font-size: 0.9rem;
}

.fields button {
    width: 100%;
    outline: none;
    border: none;
    background-color: #0D6EFD;
    color: #fff;
}