<section class="container d-flex justify-content-center align-items-center w-100 h-100">
    <div class="wrapper py-4 d-flex flex-column align-items-center justify-content-around">
        <h3 class="logo">PharmaChain</h3>
        <h5>Add Inventory</h5>
        <form class="fields w-75 d-flex flex-column gap-3" [formGroup]="addInvenotryForm" (submit)="onSubmit()">
            <input type="text" placeholder="Enter Product ID" formControlName="productID" class="p-2">
            <input type="text" placeholder="Enter Batch Number" formControlName="batchNumber" class="p-2">
            <input type="text" placeholder="Enter Serial Number" formControlName="serialNumber" class="p-2">
            <input type="text" placeholder="Enter Location" formControlName="location" class="p-2">
            <input type="number" placeholder="Enter Quantity" formControlName="quantity" class="p-2">
            <p *ngIf="addInventoryFailed" class="error align-self-center text-danger">Inventory Addition Failed</p>
            <div class="align-self-end">
                <button type="submit" class="p-2">Add</button>
            </div>
        </form>
    </div>
</section>