<section class="container d-flex justify-content-center align-items-center w-100 h-100">
    <div class="wrapper py-3 h-75 d-flex flex-column align-items-center justify-content-around">
        <h3 class="logo">PharmaChain</h3>
        <h5>Login</h5>
        <form class="fields w-75 d-flex flex-column gap-3" [formGroup]="loginForm" (submit)="onSubmit()">
            <input type="email" placeholder="Enter Email" formControlName="email" class="p-2">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password" formControlName="password" class="p-2">
            <div class="d-flex justify-content-between">
                <div class="show-password d-flex align-items-center gap-2">
                    <input type="checkbox" #showPasswordCheckbox (change)="showPassword = showPasswordCheckbox.checked">
                    <small>Show Password</small>
                </div>
                <a routerLink="/auth/register"><small>New user?</small></a>
            </div>
            <!-- <p *ngIf="loginFailed" class="error align-self-center text-danger">Incorrect Credentials</p> -->
            <div class="align-self-end">
                <button type="submit" class="p-2">Login</button>
            </div>
        </form>
    </div>
</section>
